<header class="header">
    <a href="/" class="header__logo">Webblog Admin</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button>
            <a href="/logout">Logout</a>
        </button>
    </div>

</header>